
.form-container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.clear-section {
  padding: 7%;
}

.container-fluid {
  padding-left: 15%;
  padding-right: 15%;
}

.list-heading {
  padding: 1%;
}

.hidden-list {
  display: none;
}
